<!DOCTYPE html>
<html>
<head>
    <title>Real Estate Listings</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Available Properties</h1>
    <div class="listings">
        <% properties.forEach(property => { %>
            <div class="property">
                <img src="<%= property.image %>" alt="<%= property.title %>" width="200">
                <h2><%= property.title %></h2>
                <p>Price: $<%= property.price %></p>
                <p><%= property.description %></p>
            </div>
        <% }) %>
    </div>
</body>
</html>
